body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
	width:100%;
	background-color:#eeeeee;
}
img {border:none;}
.spacer_30 {clear:both; height:30px; width:1px;}
.spacer_20 {clear:both; height:20px; width:1px;}
.spacer_10 {clear:both; height:10px; width:1px;}
.header {
	background:#233547 url(../images/general_02.png) repeat-y center;
	width:100%;
	height:73px;
}
.horizontal_menu {
	background:url(../images/general_04.png) repeat-x;
	width:100%;
	height:43px;
}
.horizontal_menu ul {padding:0; margin:0; list-style:none;}
.horizontal_menu li {float:left;line-height:38px; font-size:14px;}
.horizontal_menu li a{color:#c1c1c1; text-decoration:none; text-shadow:#000000 0px 1px 1px; height:42px; float:left; padding:0 20px; min-width:60px; text-align:center;}
.horizontal_menu li a:hover{background:url(../images/navbar_bg_03.png) no-repeat center;}
.horizontal_submenu {
	background:url(../images/general_05.jpg) repeat-x;
	width:100%;
	height:42px;
}
.horizontal_submenu ul {padding:0; margin:0; list-style:none; padding-left:10px;}
.horizontal_submenu li {float:left;line-height:42px; font-size:14px;}
.horizontal_submenu li a{color:#9a9a9a; text-decoration:none; text-shadow:#ffffff 0px 1px 1px; height:42px; float:left; padding:0 10px; text-align:center;}
.horizontal_submenu li a:hover {color:#666666;};
.wrapper {
	width:100%;
	clear:both;
}
.wrap_content {
	float:left;
	width:100%;
}
.content {
	border-right:1px solid #d7d7d7;
	min-height:500px;
	margin-right:296px;
	background-color:#f6f6f6;
	overflow:hidden;
}
.slider {
	width:296px;
	float:right;
	min-height:500px;
	margin-left:-296px;
}
.header_logo {
	background:url(../images/logo_02.png) no-repeat center;
	width:203px;
	height:72px;
	margin-left:5px;
	float:left;
}
.header_usermenu {
	float:right;
	text-align:right;
	margin-top:14px;
	margin-right:20px;
	color:#c1c1c1;
	background:url(../images/icons_03.png) no-repeat left top;
	padding-left:24px;
}
.header_usermenu p {margin:0; padding:0; line-height:18px;}
.header_usermenu a {color:#FFFFFF; text-decoration:none;}
.header_usermenu a:hover {color:#FFFFFF; text-decoration:underline;}
.horizontal_menu_right {
	float:right;
	width:202px;
	height:25px;
	background:url(../images/search_06.png) no-repeat center;
	margin-top:9px;
	margin-right:20px;
}
.searchBox {
	border:none;
	margin:4px 28px;
	background-color:#f9f9f9;
}

.contentBoxTabs {margin:0 20px; float:left; width:100%;}
.contentBoxTabs ul {list-style-type:none; margin:0; padding:0;}
.contentBoxTabs ul li {
	float:left;
}
.contentBoxTabs ul li a {
	display:block;
	padding:0 20px;
	line-height:34px;
	background:url(../images/tabs_bg.png) repeat-x;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-right-topleft: 5px;
	border-top-right-radius: 5px;
	border:1px solid #d7d7d7;
	position:relative;
	z-index:102;
	color:#757575;
	text-decoration:none;
	font-size:16px;
	height:34px;
}
.contentBoxTabs ul li a:hover {background:#FFFFFF none; border-bottom:1px solid #FFFFFF; color:#375d81;}
.contentList {float:left; width:100%;list-style-type:none; margin:0; padding:0;}
.contentList>li {border-bottom:1px solid #DEDEDE; width:100%; clear:both;}
.contentList>li:hover {background:#e5f1fa;}
.contentList>li>ul {height:40px; line-height:40px;list-style-type:none; margin:0; padding:0;}
.contentList>li>ul>li { width:20%; overflow:hidden; float:left; margin:0; padding:0;}
.contentList>li>ul>li>a {background:none; border:none; margin:0; padding:0; color:#375d81; text-decoration:none; line-height:40px; font-size:12px; font-weight:bold;}
.contentList>li>ul>li>a:hover {background:none; border:none; margin:0; padding:0;}

select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:4px;
	border:1px solid #e2e2e2;
	color:#595959;
}

.contentDropDown {float:left; margin-right:20px}
.contentSubmit {float:left; margin-right:20px}
.contentPagination {float:right;}
.contentSubmit input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:url(../images/button_21.png) repeat-x;
	height:24px;
	padding-bottom:3px;
	line-height:20px;
	border:1px solid #000000;
	margin-top:2px;
	color:#FFFFFF;
	text-shadow:#363636 0px 1px 1px;
}
.contentSubmit input:hover {
	border:1px solid #193253;
	background:#193253 url(../images/button_24.png) repeat-y center;
}
.contentPagination ul {list-style-type:none; margin:0; padding:0;}
.contentPagination ul li {
	background:none;
	padding:0;
	margin:0;
	margin-right:5px;
	float:left;
}
.contentPagination ul li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:none;
	border:2px solid #dfdfdf;
	padding:0px;
	margin:0;
	line-height:20px;
	width:20px;
	text-align:center;
	text-decoration:none;
	color:#666666;
	display:block;
}
.contentPagination ul li a:hover {
	background:#1b3456 url(../images/pagination_28.png) repeat-x;
	border:2px solid #254465;
	color: #FFFFFF;
}

.contentBoxHead {
	background:url(../images/bar_33.png) repeat-x;
	margin:0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	height:39px;
	line-height:39px;
	padding-left:20px;
	font-size:14px;
	color:#FFFFFF;
	position:relative;
	z-index:103;
	text-shadow:#000000 0px 1px 1px;
}
.contentBox {
	margin:0 20px;
	position:relative;
	top:-1px;
	background:#FFFFFF;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid #d7d7d7;
	min-height:200px;
	padding:20px;
	color:#3d3d3d;
}
.contentBoxTabbed {
	margin:0 20px;
	position:relative;
	top:-1px;
	background:#FFFFFF;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border:1px solid #d7d7d7;
	min-height:200px;
	padding:20px;
	color:#3d3d3d;
	clear:both;
}

.cBoxText {font-size:14px; color:#3d3d3d; clear:both; margin-bottom:10px;}
.message_succes {background:url(../images/icons_37.png) no-repeat top left;margin-left:30px;padding-left:30px;float:left; height:22px; line-height:22px;}
.message_fail {background:url(../images/icons_41.png) no-repeat top left;margin-left:30px;padding-left:30px;float:left; height:22px; line-height:22px;}
.small_input input {
	float:left;
	width:210px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #d7d7d7;
	height:20px;
	line-height:20px;
	padding:2px;
}
.large_input input {
	float:left;
	width:396px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #d7d7d7;
	height:20px;
	line-height:20px;
	padding:2px;
}

.checkbox {float:left; margin-right:30px;}
.checkbox input {
	margin-right:10px;
}
.radiobutton input {margin-right:10px;}
.textarea textarea {
	width:625px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #d7d7d7;
	height:170px;
}

.alertNotificationBox {
	position:relative;
	margin:0 20px;
	background-color:#faf8d0;
	border:2px solid #e7e3a0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:40px;
	line-height:40px;
	background-image:url(../images/icons_44.png);
	background-position:10px 9px;
	background-repeat:no-repeat;
	padding-left:40px;
	font-size:14px;
}
.informationalNotificationBox {
	position:relative;
	margin:0 20px;
	background-color:#e6edfc;
	border:2px solid #b4d1f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:40px;
	line-height:40px;
	background-image:url(../images/icons_05.png);
	background-position:10px 9px;
	background-repeat:no-repeat;
	padding-left:40px;
	font-size:14px;
}
.successNotificationBox {
	position:relative;
	margin:0 20px;
	background-color:#dcfbdf;
	border:2px solid #a3e99e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:40px;
	line-height:40px;
	background-image:url(../images/icons_37.png);
	background-position:10px 9px;
	background-repeat:no-repeat;
	padding-left:40px;
	font-size:14px;
}
.errorNotificationBox {
	position:relative;
	margin:0 20px;
	background-color:#f8d7d7;
	border:2px solid #f5a6a6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:40px;
	line-height:40px;
	background-image:url(../images/icons_41.png);
	background-position:10px 9px;
	background-repeat:no-repeat;
	padding-left:40px;
	font-size:14px;
}
.removeNotification {float:right; margin:10px 15px; position:absolute; top:5px; right:5px;}

.sliderBoxHeader {
	width:252px;
	height:44px;
	background:url(../images/boxHeader.png) no-repeat;
	margin:auto;
	text-align:center;
	line-height:44px;
	font-size:16px;
	color:#ffffff;
	text-shadow:#000000 0px 1px 1px;
}
.sliderBoxContent {
	width:228px;
	margin-left:23px;
	min-height:60px;
	background:#FFFFFF;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid #d7d7d7;
	padding:10px;
	float:left;
}

.vmenu {margin:0; padding:0; list-style:none; display:block; position:relative; text-align:center;}
.vmenu img {background:url(../images/slidericons_bg_03.png) no-repeat; padding:13px 12px;}
.vmenu img:hover {background:url(../images/slidericons_bg_05.png) no-repeat;}
.vmenu ul { border:1px solid red;}
.vmenu li {float:left; margin-right:7px; margin-top:10px;}
.vmenu li:nth-child(3n) { margin-right:0;}
.vmenu li a {text-align:center; text-decoration:none; font-size:11px; color:#666666;}
.vmenu li a:hover {color:#375d81;}
.clearli {clear:both;}

.ulmenu {margin:0; padding:0; list-style:none; display:block;}
.ulmenu li a {padding-left:20px; line-height:30px; text-decoration:none; color:#666666;}
.ulmenu li a:hover {color:#000000; background:url(../images/arrow_03.png) no-repeat left top;}

.footer {clear:both; width:100%; min-height:50px; background-color:#1e1e1e; line-height:50px; color:#9a9a9a; text-align:center; font-size:11px;}
.footer a {color:#FFFFFF; text-decoration:none;}
.footer a:hover {color:#375d81;}

.login_container{
	width:350px;
	margin:auto;
	margin-top:294px;
}

.login_logo{
	background:url(../images/login_03.png) no-repeat;
	width:298px;
	height:69px;
	margin:auto;
}

.login_text {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:27px;
	text-align:center;
	line-height:27px;
	color:#2d5173;
	text-shadow:#ffffff 0px 1px 1px;
	background-color:#e3e3e3;
}

.login_field {
	color:#212121;
	text-shadow:#ffffff 0px 1px 1px;
	width:125px;
	font-size:16px;
	line-height:26px;
	float:left;
}
.login_input {
	float:left;
}
.login_input input {
	height:22px;
	background:url(../images/login_09.png) repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #ffffff;
	width:223px;
	float:right;
}
.login_rememberme {float:left; line-height:20px; font-size:14px; color:#666666; width:200px;}
.login_rememberme a{color:#9c9b9b; text-decoration:none;}
.login_rememberme a:hover{color:#666666; text-decoration:underline;}
.login_rememberme input {float:left; margin-right:10px;}
.login_submit {float:right;}
.login_submit input {
	background:url(../images/login_14.png) repeat-x center;
	border:1px solid #1f3145;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:85px;
	height:29px;
	line-height:23px;
	color:#FFFFFF;
}
.login_submit input:hover {
	background:url(../images/login_13.png) repeat-x center;
	border:1px solid #1f3145;
}
.login_body {background:#e0dede url(../images/login_02.png) repeat-x;}
.popup {
	margin:100px auto;
	width: 500px;
	min-height: 200px;
	z-index:105;
	border:1px solid #c6c6c6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#FFFFFF;
	padding:5px;
	display:block;
}
.popup_header {
	clear:both;
	width:480px;
	margin:auto;
	background:url(../images/popup_03.png) repeat-x center;
	height:26px;
	border:1px solid #454545;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height:26px;
	color:#FFFFFF;
	padding-left:10px;
}
.popup_content {
	clear:both;
	margin:10px;
}
.popup_head {
	color:#212121;
	font-size:14px;
	line-height:20px;
	border-bottom:1px solid #DEDEDE;
	font-weight:bold;
}

.popup_message {margin:20px 0 10px;}
.popup_message_title {font-size:16px;}
.popup_message_details {font-size:11px; color:#000000;}
.popup_message_details a {font-weight:bold;text-decoration:none; color:#000000;}
.popup_message_details a:hover {text-decoration:underline;}
.popup_message_content {margin:5px 0; color:#8e8e8e; font-size:13px; text-align:justify; line-height:16px;}

#button1 {background:url(../images/buttons/buttons_28.png) no-repeat; width:86px; height:30px;}
#button1:hover {background:url(../images/buttons/buttons_30.png) no-repeat; width:86px; height:30px;}

#button2 {background:url(../images/buttons/buttons_34.png) no-repeat; width:86px; height:30px;}
#button2:hover {background:url(../images/buttons/buttons_35.png) no-repeat; width:86px; height:30px;}

#button3 {background:url(../images/buttons/buttons_42.png) no-repeat; width:86px; height:30px;}
#button3:hover {background:url(../images/buttons/buttons_43.png) no-repeat; width:86px; height:30px;}

#button-medium1 {background:url(../images/buttons/buttons_03.png) no-repeat; width:109px; height:34px;}
#button-medium1:hover {background:url(../images/buttons/buttons_05.png) no-repeat; width:109px; height:34px;}

#button-medium2 {background:url(../images/buttons/buttons_09.png) no-repeat; width:109px; height:34px;}
#button-medium2:hover {background:url(../images/buttons/buttons_10.png) no-repeat; width:109px; height:34px;}

#button-medium3 {background:url(../images/buttons/buttons_13.png) no-repeat; width:109px; height:34px;}
#button-medium3:hover {background:url(../images/buttons/buttons_15.png) no-repeat; width:109px; height:34px;}

#button-big1 {background:url(../images/buttons/buttons_19.png) no-repeat; width:152px; height:42px;}
#button-big1:hover {background:url(../images/buttons/buttons_21.png) no-repeat; width:152px; height:42px;}

#button-big2 {background:url(../images/buttons/buttons_25.png) no-repeat; width:152px; height:42px;}
#button-big2:hover {background:url(../images/buttons/buttons_26.png) no-repeat; width:152px; height:42px;}

#button-big3 {background:url(../images/buttons/buttons_38.png) no-repeat; width:152px; height:42px;}
#button-big3:hover {background:url(../images/buttons/buttons_39.png) no-repeat; width:152px; height:42px;}

.bbit {float:left;width:200px;}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;

	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

.info{
	color:#00529B;
	background-color:#BDE5F8;
	background-image:url(file:///C|/wamp/www/images/info.png);
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(file:///C|/wamp/www/images/sucess.png);
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image:url(file:///C|/wamp/www/images/warning.png);
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image:url(file:///C|/wamp/www/images/error.png);
}
