	<div class="sliderBoxHeader">Menu</div>
			<div class="sliderBoxContent">
				<ul class="ulmenu">
					<li><a href="quotausers/">Liste des Quota</a></li>
					<li><a href="addQuota/">Ajouter du credit d' appel</a></li>
					<li><a href="histquota/">Historique des quota</a></li>
					<li><a href="stats/">Statistiques</a></li>

				</ul>
			</div>