{HEADER}
<!--	<div class="horizontal_submenu">
		<ul>
			<li><a href="../Black/home.html">Black style</a></li>
			<li><a href="../Red/home.html">Red style</a></li>
			<li><a href="../Green/home.html">Green style</a></li>
			<li><a href="home.html">Blue style</a></li>
		</ul>
	</div>-->
	<div class="wrapper">
		<div class="wrap_content">
			<div class="content">
				<div class="spacer_30"></div>
				<div class="contentBoxTabs">
					<ul class="idTabs">
						<li><a href="#table2" class="{SHOWFORM}" >Attribuer un quota à un utilisateur</a></li>

					</ul>
				</div>


				<div class="contentBoxTabbed retrait" id="table2" >

						<div class="contentBoxHead retrait2">Attribuer un quota à un utilisateur</div>
						<div class="{MESSAGE_TYPE}" id="msgbox">{MESSAGE_CONTENT}</div>
						<form action="addquota/" method="post" id="addquotaform">
						<div class="contentBox retrait2">

					<div class="small_input">
						<div class="cBoxText">Selectionnez les utilisateurs:</div>
						<select name="liste_users" class="left select">
                        <option value="-1">---------------</option>
							<!-- BEGIN LISTEUSER -->
                        <option value="{LISTEUSER.id}">
                       {LISTEUSER.nom}
                        </option>
                        <!-- END LISTEUSER -->

                        </select>
					<!--	<div class="message_succes">Succesfull message</div>-->
					</div>
                    <input name="users_real" type="hidden" value="" />
                    <input name="users_update" type="hidden" value="{CURRENTUPDATELINE}" />
					<div class="spacer_10"></div>
                    <div class="small_input">
						<div class="cBoxText">Selectionnez le droit d' appel:</div>
						<select name="liste_right" class="left select">
							<!-- BEGIN RIGHTCALL -->
                        <option value="{RIGHTCALL.id}">
                       {RIGHTCALL.nom}
                        </option>
                        <!-- END RIGHTCALL -->

                        </select>
					<!--	<div class="message_succes">Succesfull message</div>-->
					</div>

					 <div class="small_input">
						<div class="cBoxText">Selectionnez l' opération(ajout ou retrait de credit):</div>
						<select name="liste_operation" class="left select">
						<option value="1">AJOUT</option>
                        <option value="2">RETRAIT</option>
                        </select>
					<!--	<div class="message_succes">Succesfull message</div>-->
					</div>
					<div class="spacer_10"></div>
					<div class="large_input">
						<div class="cBoxText">Utilisateurs selectionnées:</div>
						<div class="user_box">

                        </div>
						<!--<div class="message_fail">Error message</div>-->
					</div>
					<div class="spacer_10"></div>
					<div class="checkbox_input hide">
						<!--<div class="cBoxText">Checkboxes:</div>-->
						<div class="checkbox"><input name="reset" type="checkbox" value="" /> Reinitialiser le decompte quota</div>
						<!--<div class="checkbox"><input name="" type="checkbox" value="" /> Checkbox</div>-->
					</div>
                    <div class="spacer_10"></div>
                    <div class="small_input">
						<div class="cBoxText">attribuer le quota (mn):</div>
						<input name="quota" type="text"  style="width:50px;" value="{OLDQUOTA}"/>
					<!--	<div class="message_succes">Succesfull message</div>-->
					</div>
					<div class="spacer_10"></div>
                    <div class="submitcontainer">
                    <input name="" type="button" value="valider le quota"  id="btnvalidquota"/>
                    </div>
					<!--<div class="radio_input">
						<div class="cBoxText">Radio buttons:</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
					</div>-->



				</div>
   </form>


					</div>





				<!--<div class="contentBoxHead">Content</div>-->
				<!--<div class="contentBox">
					<div class="small_input">
						<div class="cBoxText">Small form input:</div>
						<input type="text">
						<div class="message_succes">Succesfull message</div>
					</div>
					<div class="spacer_10"></div>
					<div class="large_input">
						<div class="cBoxText">Large form input:</div>
						<input type="text">
						<div class="message_fail">Error message</div>
					</div>
					<div class="spacer_10"></div>
					<div class="checkbox_input">
						<div class="cBoxText">Checkboxes:</div>
						<div class="checkbox"><input name="" type="checkbox" value="" /> Checkbox</div>
						<div class="checkbox"><input name="" type="checkbox" value="" /> Checkbox</div>
					</div>
					<div class="spacer_10"></div>
					<div class="radio_input">
						<div class="cBoxText">Radio buttons:</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
					</div>
					<div class="spacer_10"></div>
					<div class="textarea_input">
						<div class="cBoxText">Texarea label:</div>
						<div class="textarea"><textarea name=""></textarea></div>
					</div>
					<div class="spacer_10"></div>
					<div class="file_input"><input name="" type="file" /></div>
				</div>-->
				<!--<div class="spacer_30"></div>
				<div class="alertNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="alertHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="informationalNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="infoHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="successNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="succesHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="errorNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="errorHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_30"></div>-->
			</div>
		</div>
		<div class="slider">
			<div class="spacer_30"></div>

			<!--<div class="sliderBoxContent">
				<ul id="visualmenu1" class="vmenu">
					<li><a href="#"><img src="images/sidebar_icons_07.png" title="Make new project"/><br />New Project</a></li>
					<li><a href="#"><img src="images/sidebar_icons_09.png"  title="Open existing project"/><br />Open Project</a></li>
					<li><a href="#"><img src="images/sidebar_icons_11.png" /><br />Messages</a></li>
				</ul>
				<ul id="visualmenu2" class="vmenu">
					<li class="clearli"><a href="#"><img src="images/sidebar_icons_16.png" /><br />Users</a></li>
					<li><a href="#"><img src="images/sidebar_icons_17.png" /><br />Settings</a></li>
					<li><a href="#"><img src="images/sidebar_icons_18.png" /><br />Databases</a></li>
				</ul>
				<ul id="visualmenu3" class="vmenu">
					<li class="clearli"><a href="#"><img src="images/sidebar_icons_22.png" /><br />Schedule</a></li>
					<li><a href="#"><img src="images/sidebar_icons_23.png" /><br />Images</a></li>
					<li><a href="#"><img src="images/sidebar_icons_24.png" /><br />Comments</a></li>
				</ul>
			</div>-->


		{MENU}
		</div>
	</div>
	<div class="footer">
		Copyright 2010 -designed by veone technologies
	</div>
</body>
</html>
