{HEADER}
<!--	<div class="horizontal_submenu">
		<ul>
			<li><a href="../Black/home.html">Black style</a></li>
			<li><a href="../Red/home.html">Red style</a></li>
			<li><a href="../Green/home.html">Green style</a></li>
			<li><a href="home.html">Blue style</a></li>
		</ul>
	</div>-->
	<div class="wrapper">
		<div class="wrap_content">
			<div class="content">
				<div class="spacer_30"></div>



              <div class="{MESSAGE_TYPE}">{MESSAGE_CONTENT}</div>



				<!--<div class="contentBoxHead">Content</div>-->
				<!--<div class="contentBox">
					<div class="small_input">
						<div class="cBoxText">Small form input:</div>
						<input type="text">
						<div class="message_succes">Succesfull message</div>
					</div>
					<div class="spacer_10"></div>
					<div class="large_input">
						<div class="cBoxText">Large form input:</div>
						<input type="text">
						<div class="message_fail">Error message</div>
					</div>
					<div class="spacer_10"></div>
					<div class="checkbox_input">
						<div class="cBoxText">Checkboxes:</div>
						<div class="checkbox"><input name="" type="checkbox" value="" /> Checkbox</div>
						<div class="checkbox"><input name="" type="checkbox" value="" /> Checkbox</div>
					</div>
					<div class="spacer_10"></div>
					<div class="radio_input">
						<div class="cBoxText">Radio buttons:</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
						<div class="radiobutton"><input name="" type="radio" value="" /> Radio button</div>
					</div>
					<div class="spacer_10"></div>
					<div class="textarea_input">
						<div class="cBoxText">Texarea label:</div>
						<div class="textarea"><textarea name=""></textarea></div>
					</div>
					<div class="spacer_10"></div>
					<div class="file_input"><input name="" type="file" /></div>
				</div>-->
				<!--<div class="spacer_30"></div>
				<div class="alertNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="alertHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="informationalNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="infoHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="successNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="succesHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_10"></div>
				<div class="errorNotificationBox">Attention notification. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<div class="removeNotification"><a onClick="errorHide();"><img src="images/icons_45.png"></a></div>
				</div>
				<div class="spacer_30"></div>-->
			</div>
		</div>
		<div class="slider">
			<div class="spacer_30"></div>

			<!--<div class="sliderBoxContent">
				<ul id="visualmenu1" class="vmenu">
					<li><a href="#"><img src="images/sidebar_icons_07.png" title="Make new project"/><br />New Project</a></li>
					<li><a href="#"><img src="images/sidebar_icons_09.png"  title="Open existing project"/><br />Open Project</a></li>
					<li><a href="#"><img src="images/sidebar_icons_11.png" /><br />Messages</a></li>
				</ul>
				<ul id="visualmenu2" class="vmenu">
					<li class="clearli"><a href="#"><img src="images/sidebar_icons_16.png" /><br />Users</a></li>
					<li><a href="#"><img src="images/sidebar_icons_17.png" /><br />Settings</a></li>
					<li><a href="#"><img src="images/sidebar_icons_18.png" /><br />Databases</a></li>
				</ul>
				<ul id="visualmenu3" class="vmenu">
					<li class="clearli"><a href="#"><img src="images/sidebar_icons_22.png" /><br />Schedule</a></li>
					<li><a href="#"><img src="images/sidebar_icons_23.png" /><br />Images</a></li>
					<li><a href="#"><img src="images/sidebar_icons_24.png" /><br />Comments</a></li>
				</ul>
			</div>-->


		{MENU}
		</div>
	</div>
	<div class="footer">
		Copyright 2010 -designed by veone technologies
	</div>
</body>
</html>
