{HEADER}
<div class="container_moov">

  <div class="gallery"><img src="img/banner.png" width="550"/>

  </div>
  <div class="form_connexion">

  <h1 class="formtitle">Réinitialiser votre mot de passe</h1>
 <div class="loading"></div>
  <div class="content_ins"><a href="{GL_CONNEXION}" class="daxbold13 linkconn">Se connecter à son compte</a>

  </div>
<div class="motif_connexion"><img src="img/motif6.gif" width="150"  /></div>
<div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
<div class="connexion_fields">

  <form action="?ctrl=inscription&action=reinit_processing" method="post" class="conn_3g">

    <div class="inputcontent">
      <label for="numero_ab" class="label verdana11">Numéro : </label>
      <input type="text" name="numero_ab" id="numero_ab"  class="inputtext"/>

      </div>

    <div class="inputcontent">
      <label for="numero_ab" class="label verdana11">Email: </label>
      <input type="text" name="email_ab" id="email_ab"  class="inputtext"/>

      </div>
    <div class="inputcontent" >
     <label for="numero_ab" class="label verdana11">Code de validation: </label>
    <div class="input_captcha"> <input type="text" name="captcha_code" size="6" maxlength="6"  style="height:28px;" class="border_input"/></div>
       <div class="captcha_bloc">
       <img id="captcha" src="lib/securimage/securimage_show.php" alt="CAPTCHA Image" />

         <a href="#" onClick="document.getElementById('captcha').src = 'lib/securimage/securimage_show.php?' + Math.random(); return false"><img src="lib/securimage/images/refresh.png"></a>
         </div>
      </div>



    <div class="inputcontent">


      <input type="submit" class="submit_spons" value="Reinitialiser " style="margin-left:80px;"/>
      </div>
  </form>

</div>
  </div>
  <!--fin de form connexion -->

</div>
</body>
</html>
